@model GlobalCityManager.Models.Country

<tr>
<tr>
    <td>@Html.LabelFor(country => country.Code)</td>
    <td>@Html.TextBoxFor(country => country.Code)</td>
</tr>
<tr>
    <td>@Html.LabelFor(country => country.Name)</td>
    <td>@Html.TextBoxFor(country => country.Name)</td>
</tr>
<tr>
    <td>@Html.LabelFor(country => country.Region)</td>
    <td>@Html.TextBoxFor(country => country.Region)</td>
</tr>
<tr>
    <td>@Html.LabelFor(country => country.NationalFlag)</td>
    <td>@Html.TextBoxFor(country => country.NationalFlag)</td>
</tr>
